/* Air Export */        
	#tabs .CurAirExportDiv a {
		background: url(/Images/navtab_cur_aelf.gif) no-repeat left top;
	}
	#tabs .CurAirExportDiv a span {
		background: url(/Images/navtab_cur_aert.gif) no-repeat right top;
		color: #312930;
		/* bottom padding to hide bottom border line bottom border of tabs 5px+1px(for 1px bottom border)=6px */
		padding-bottom:6px; 
	}
