/* Site Admin */       
	#tabs .CurSiteAdminDiv a {
		background: url(/Images//navtab_cur_salf.gif) no-repeat left top;
	}
	#tabs .CurSiteAdminDiv a span {
		background: url(/Images//navtab_cur_sart.gif) no-repeat right top;
		color: #292931; 
		/* bottom padding to hide bottom border line bottom border of tabs 5px+1px(for 1px bottom border)=6px */
		padding-bottom:6px; 
	}	