
	/* Domestic Freight */	
	#tabs .CurDomesticFreightDiv a {
		float:left;
		background: url(/Images/navtab_cur_domlf.gif) no-repeat left top;
	}
	#tabs .CurDomesticFreightDiv a span {
		background: url(/Images/navtab_cur_domrt.gif) no-repeat right top;
		color: #2f2717;
		/* bottom padding to hide bottom border line bottom border of tabs 5px+1px(for 1px bottom border)=6px */
		padding-bottom:6px; 
	}	    	
