@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOperation.cshtml";
}
<link href="@Url.Content("~/ASP/css/defaultpage.css")" rel="stylesheet" type="text/css" >
 <style type="text/css">
 p
 {
    text-align:left;
 }
 </style>
<div class="body">
    <div id="rightnavi">
        <h2>
            reports
        </h2>
        <p>
            This Tab is where industry specific reports are done. This includes reports that
            can be categorized by such things as Air Export – HAWB and Ocean Import. Most standard
            accounting reports can be found in the Accounting – Reports Tab.</p>
        <!-- will add funtion later
	<h3 class="bold">Recent Works </h3>
	<ul class="recentworks">
	<li><a href="#">File name 1</a></li>
	<li><a href="#">File name 2</a></li>
	<li><a href="#">File name 3</a></li>
	<li><a href="#">File name 4</a></li>
	</ul>-->
        <div id="linebreak">
        </div>
        <h2>
            getting started
        </h2>
        <h3>
            User's Handbook</h3>
        <p>
            A first time user or want to learn how to use FreightEasy? <a href="/images/freighteasy/images/FreightEasy-Guide.pdf"
                target="_blank">Download</a> a User's Handbook.
            <h3>
                Support Center
            </h3>
            <p>
                We are ready to help you. For technical support, email to <a href="mailto:support@e-logitech.net?subject=Support for FreightEasy-Reports">
                    support@e-logitech.net</a> or call us at 1-877-680-EASY(3279).
            </p>
            <div align="right">
                <img onclick="MM_goToURL('parent.frames[\'topFrame\']','domfreight.htm','parent.frames[\'mainFrame\']','../domestic/booking.asp');return document.MM_returnValue"
                    style="cursor: pointer" src="../Images/spacer.gif" width="100" height="20"></div>
    </div>
    <div id="leftfloatreport">
    </div>
</div>
