<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="SAPBusinessObjects.WPF.Viewer, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="SAPBusinessObjects.WPF.ViewerShared, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="ShockwaveFlashObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="/IFF_MAIN/ASPX/igFunctions/Error.aspx"/>
    <authentication mode="None">
      <forms name=".AUTHCOOKIE" loginUrl="./Authentication/login.aspx" protection="All"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=localhost;Initial Catalog=ASPState;User ID=sa;Password=dpV8XXVK;pooling='false'" timeout="60"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
      <namespaces>
        <remove namespace="System.Web.Helpers"/>
        <remove namespace="System.Web.Mvc"/>
        <remove namespace="System.Web.Mvc.Ajax"/>
        <remove namespace="System.Web.Mvc.Html"/>
        <remove namespace="System.Web.Optimization"/>
        <remove namespace="System.Web.Routing"/>
        <remove namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!-- AJAX don't work with this
    <xhtmlConformance mode="Legacy"/> -->
    <httpHandlers>
      <add verb="*" path="ImageResource.axd" type="DevExpress.ExpressApp.Web.ImageResourceHttpHandler, DevExpress.ExpressApp.Web.v13.2, Version=13.2.9.0, culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add verb="*" path="*.aspx" type="DevExpress.ExpressApp.Web.WebWindowTemplateHttpHandler, DevExpress.ExpressApp.Web.v13.2, Version=13.2.9.0, culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpHandlers>
    <httpModules/>
  </system.web>
  <location path="FreeBoard">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ASPX/Reports/Common">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      <httpHandlers>
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>
      </httpHandlers>
      <httpRuntime timeout="120"/>
    </system.web>
  </location>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="BoardDSN" value="server=NN1994;database=ig_IFFDB;user id=sa; password=dpV8XXVK"/>
      <add key="WebClientPrint10LicenseOwner" value="Jay Noh-Web App License"/>
      <add key="WebClientPrint10LicenseKey" value="1780896CB5950497382A6CDB4882A1A9EAC12D04"/>
    </appSettings>
    <connectionStrings>
      <add name="EltDbConnection" connectionString="Data Source=localhost;Initial Catalog=PRDDB;User ID=sa;Password=dpV8XXVK"/>
      <add name="PRDDBConnectionString" connectionString="Data Source=WEBDEV;Initial Catalog=PRDDB;User ID=sa;Password=dpV8XXVK" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="Main.aspx"/>
        </files>
      </defaultDocument>
    </system.webServer>
    <!--<system.webServer>
            <defaultDocument>
                <files>
                    <add value="index.asp" />
                </files>
            </defaultDocument>
        </system.webServer>-->
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="WebClientPrint" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint"/>
      <add name="ImageResourceHttpHandler" preCondition="integratedMode" verb="*" path="ImageResource.axd" type="DevExpress.ExpressApp.Web.ImageResourceHttpHandler, DevExpress.ExpressApp.Web.v13.2, Version=13.2.9.0, culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="WebWindowTemplateHttpHandler" preCondition="integratedMode,runtimeVersionv2.0" verb="*" path="*.aspx" type="DevExpress.ExpressApp.Web.WebWindowTemplateHttpHandler, DevExpress.ExpressApp.Web.v13.2, Version=13.2.9.0, culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </handlers>
    <modules/>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings doctypeMode="Xhtml" rightToLeft="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.20.0" newVersion="2.2.20.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraReports.v13.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v13.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v13.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraCharts.v13.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.PivotGrid.v13.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Sparkline.v13.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>