@{
    ViewBag.Title = "About E-Logistics Technology";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
 <p>
                                            E-Logistics Technology was founded in 2002 by Freight Forwarders that thought the
                                            current offering of systems was not good enough, and that they could do better.
                                            They believed they could provide an all-in-one solution for Freight Forwarders that
                                            was both easy to implement and affordably priced. They wanted to achieve these goals
                                            while ensuring that the system would always be designed with the users in mind,
                                            Freight Forwarders. The end result was FreightEasy™.</p>
                                        <p>
                                            E-Logistics Technology Continues to expand on its vision with development of other
                                            modules that will add on to its Flagship product, FreightEasy. Warehouse management,
                                            CHB, and AMS modules are under development. E-Logistics Technology hopes to continue
                                            to reduce paperwork and repetitive tasks, while increasing communication, all with
                                            the goal of making life easier for our customers.</p>
                                        <p>
                                            E-Logistics Technology is located in Burlingame, California.</p>

</div>
@section righttop{


}