@{
    ViewBag.Title = "Frequently Asked Questions ";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
    <style type="text/css">
<!--
.style1 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #363535;
}
.style12 {	font-family: Arial, Helvetica, sans-serif;
	color: #363535;
	line-height: 130%;
}
.style13 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style14 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style15 {
	color: #ff6600;
	font-weight: bold;
}
-->
</style>
<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td width="95%" align="left" valign="top">
                                        <strong>Is FreightEasy&trade; really as full-featured as some of the most expensive
                                            Freight Forwarding Systems?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1"><span class="style12"><span class="style14">A</span>.</span></span></td>
                                    <td align="left" valign="top">
                                        Yes. FreightEasy comes with everything you need to run and manage a Freight Forwarding
                                        business, including a real accounting system.
                                        <br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>How long will it take for me and my employees to learn the system?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        FreightEasy has been designed by Freight Forwarders to be intuitive for those that
                                        know the Forwarding process. We are confident that the learning process will be
                                        a short and easy one.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>Will FreightEasy<span class="style13">&trade;</span> increase the efficiency
                                            of my company?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        Yes. It has been designed to minimize re-keying of information and to automate much
                                        of the process. FreightEasy will increase your bottom line.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>What hardware do I need to buy to run FreightEasy<span class="style13">&trade;</span>?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        Probably none. As long as you have at least one computer connected to the internet
                                        and Microsoft’s Internet Explorer, you can run our system.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>How long will it take to get up and running?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        Not long. There are no software installs. We will need to set up your account, and
                                        it may take a bit to enter data for your first time.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>What makes FreightEasy different?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        Our system is <a href="/Home/WebBased">web-based</a> and programmed using ASP.NET.
                                        We believe it offers all the benefits of web-based systems, while minimizing the
                                        drawbacks some similar systems had in the past.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>Where is my data? Is it safe?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        Yes, safer than it is on a local server. Our hosting partner is <a href="http://www.rackspace.com/index.php">
                                            Rackspace</a>, a leader in the industry. They have multiple redundant systems
                                        and internet connections. Rest assured that your data is safe and available 24/7.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>How’s your tech support?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        We have great tech support provided by the same people that have helped design FreightEasy.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>Can I try FreightEasy out to see for myself?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        We’d love to have you try it out. Please contact us so we can set you up with a
                                        trial account.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" align="left" valign="top">
                                        <span class="style15">Q.</span></td>
                                    <td align="left" valign="top">
                                        <strong>So what is the cost?</strong></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        <span class="bodycopy style1">A.</span></td>
                                    <td align="left" valign="top">
                                        Pretty reasonable. We charge a one-time startup fee and a monthly service fee. Both
                                        rates are competitive. There are no data transfer, per-user, or per BOL charges.<br />
                                    </td>
                                </tr>
                            </table>

</div>
@section righttop{


}