@{
    ViewBag.Title = "Real Advantages for the Real World";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
    <style type="text/css">
<!--
li.MsoNormal {
margin:0in;
margin-bottom:.0001pt;
font-size:12.0pt;
font-family:"Times New Roman";
}
p.MsoNormal {
margin:0in;
margin-bottom:.0001pt;
font-size:12.0pt;
font-family:"Times New Roman";
}
-->
</style>
<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

                <div id="advangage">
                    <div id='advantageleft'>
                        <img src="../../Images/FreightEasy/images/jay_customercare.gif" width="126" height="126" /></div>
                    <div id='advantageright'>
                        <h2>
                            Customer Care</h2>
                        <ul class='psmall'>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton1.gif' width='18' height='11' align='absmiddle' />No additional
                                charges for Support</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton2.gif' width='18' height='11' align='absmiddle' />Free
                                Automatic Updates</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton3.gif' width='18' height='11' align='absmiddle' />Friendly
                                and helpful personne</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton4.gif' width='18' height='11' align='absmiddle' />Shipping
                                ndustry Knowledge</li>
                        </ul>
                        <p>
                            Always striving to be helpful to our members, we provide superior Support that comes
                            free with the FreightEasy package.</p>
                    </div>
                </div>
                <p class="scenario">
                    <strong>Jay’s Story</strong></p>
                <p class="scenario">
                    Business has been going well lately for Jay, and he has some extra cash burning
                    a hole in his pocket. Jay decides to invest some money back into his company by
                    buying some new computers for his employees. After spending most of his morning
                    setting up the computers and installing Windows, his office gets back to business
                    making shipments. But, there’s a problem. When Jay installed the new computers,
                    he was left with the windows default settings for network security. These settings
                    are keeping FreightEasy from working correctly.</p>
                <p class="scenario">
                    Although there is a quick and simple fix for this issue, Jay may feel more comfortable
                    with someone to help walk him through the process. As a member of FreightEasy, Jay
                    will never get a feeling of being stranded. We are always just a phone call or email
                    away. And he does not have to pay us any extra in order for us to care about his
                    concern.</p>
                <p class="scenario">
                    So, Jay picks up the phone and calls us. Once he describes his situation, we connect
                    him with someone that can help him best. In a matter of minutes, we walk Jay through
                    the solution and he’s back in business.</p>
                <div id="hr">
                </div>
                <div id="advangage">
                    <div id='advantageleft'>
                        <img src="../../Images/FreightEasy/images/jay_mobility.gif" width="126" height="126" /></div>
                    <div id='advantageright'>
                        <a name="mobility">
                            <h2>
                                Mobility</h2>
                        </a>
                        <ul class='psmall'>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton1.gif' width='18' height='11' align='absmiddle' />Any
                                computer with Internet Explorer</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton2.gif' width='18' height='11' align='absmiddle' />Anywhere
                                with Internet Access</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton3.gif' width='18' height='11' align='absmiddle' />Any
                                time of the Day</li>
                        </ul>
                        <p>
                            You don’t have to be tethered to your office any more. FreightEasy will set you
                            free.</p>
                    </div>
                </div>
                <p class="scenario">
                    <strong>Jay’s Story</strong></p>
                <p class="scenario">
                    Jay has a plane to catch, but that won’t stop him from getting some work done while
                    he waits for his flight. He can bring his laptop and access the application just
                    like he can at the office by using the WiFi hotspot at the airport.</p>
                <p class="scenario">
                    Jay is on vacation in Hawaii, and he wants to make sure things are running smoothly
                    back at home. Once he plugs into the Ethernet jack in his hotel room, Jay has access
                    to everything, while still having a view of the beach.
                </p>
                <p class="scenario">
                    Jay finally gets to relax, sit down and have some coffee at his favorite café. The
                    relaxation ends when an important customer calls and wants their shipment information
                    right away. “No problem,” he says as he opens his laptop, accesses his customer’s
                    recent shipments, and reads off the flight information. At the same time he shoots
                    off a shipping notice with FreightEasy’s email function.
                </p>
                <p class="scenario">
                    Anywhere Jay has internet access, Jay has access to FreightEasy. With the growth
                    of WiFi and data transfer of cellular networks, this is quickly becoming almost
                    anywhere he finds himself.</p>
                <div id="hr">
                </div>
                <div id="advangage">
                    <div id='advantageleft'>
                        <img src="../../Images/FreightEasy/images/jay_accounting.gif" width="126" height="126" /></div>
                    <div id='advantageright'>
                        <a name="accounting">
                            <h2>
                                Accounting</h2>
                        </a>
                        <ul class='psmall'>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton1.gif' width='18' height='11' align='absmiddle' />Data
                                pulled from shipment info</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton2.gif' width='18' height='11' align='absmiddle' />Full
                                Reporting</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton3.gif' width='18' height='11' align='absmiddle' />Invoice
                                Queue</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton4.gif' width='18' height='11' align='absmiddle' />Built
                                for Freight Forwarding</li>
                        </ul>
                        <p>
                            FreightEasy makes separate accounting and freight systems obsolete. Go right from
                            shipment entry to invoicing in a few clicks.</p>
                    </div>
                </div>
                <p class="scenario">
                    <strong>Jay’s Story</strong></p>
                <p class="scenario">
                    Jay used to use multiple systems to perform Freight Forwarding tasks. He entered
                    data into one application only to switch to another to finish his invoicing and
                    accounting. These extra steps not only meant extra work, but extra mistakes too.</p>
                <p class="scenario">
                    Now, Jay uses FreightEasy. He creates shipments, enters the charges, invoices, and
                    knows that all his data is saved for later accounting tasks and reporting. It’s
                    that simple. The thing Jay likes most about this process is that FreightEasy’s accounting
                    system was made from the ground up especially for Freight Forwarding. He can view
                    reports by HAWB, by Ocean Export, and many other industry-specific categories. He
                    can also create Arrival Notices while invoicing at the same time. Jay knows that
                    the system is robust enough to handle the accounting for his whole business and
                    he doesn’t have to look elsewhere come March.
                </p>
                <div id="hr">
                </div>
                <div id="advangage">
                    <div id='advantageleft'>
                        <img src="../../Images/FreightEasy/images/jay_saas.gif" width="126" height="126" /></div>
                    <div id='advantageright'>
                        <a name="saas">
                            <h2>
                                Software as a Service
                            </h2>
                        </a>
                        <ul class='psmall'>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton1.gif' width='18' height='11' align='absmiddle' />Predictable
                                IT costs</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton2.gif' width='18' height='11' align='absmiddle' />Professionally
                                Maintained Data</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton3.gif' width='18' height='11' align='absmiddle' />No costly
                                hardware</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton4.gif' width='18' height='11' align='absmiddle' />Quick
                                and Easy Deployment</li>
                        </ul>
                        <p>
                            Software as a Service is the latest trend in software because it is the best way
                            to provide great service at minimal hassle and cost to the customer.</p>
                    </div>
                </div>
                <p class="scenario">
                    <strong>Jay’s Story</strong></p>
                <p class="scenario">
                    Jay is worrying about his customers, but not his software system. That is because
                    he knows that FreightEasy is Software as a Service. SaaS provides Jay with several
                    benefits that most systems which use client/server architecture do not.</p>
                <p class="scenario">
                    Jay does not have to worry about backing his data up, because he data is already
                    being maintained by a profession data warehouse center. He also doesn’t have to
                    worry about loss of data through accident or malicious attack. Jay even saved a
                    good bit of money and time since he did not have to buy extra hardware and severs
                    when installing FreightEasy.
                </p>
                <div id="hr">
                </div>
                <div id="advangage">
                    <div id='advantageleft'>
                        <img src="../../Images/FreightEasy/images/jay_systemdesign.gif" width="126" height="126" /></div>
                    <div id='advantageright'>
                        <a name="system">
                            <h2>
                                System Design
                            </h2>
                        </a>
                        <ul class='psmall'>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton1.gif' width='18' height='11' align='absmiddle' />Modern,
                                sleek, efficient</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton2.gif' width='18' height='11' align='absmiddle' />Screens
                                based on actual documents</li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton3.gif' width='18' height='11' align='absmiddle' />Fast
                                performance </li>
                            <li>
                                <img src='../../Images/FreightEasy/images/tabbutton4.gif' width='18' height='11' align='absmiddle' />Easy
                                of learn </li>
                        </ul>
                        <p>
                            We have used the latest in technology to create a system that is robust, user-friendly,
                            and fast enough to keep up with your demands.</p>
                    </div>
                </div>
                <p class="scenario">
                    <strong>Jay’s Story</strong></p>
                <p class="scenario">
                    Jay’s old system made him feel like he had warped back into the eighties every time
                    he used it. Unfortunately, when shopping around to replace it, most systems didn’t
                    feel much newer. Jay had grown used to up-to-date software like Microsoft Office,
                    which worked well, looked sleek, and took advantage of the newest technology. He
                    didn’t see why his Freight Forwarding System had to be any different.</p>
                <p class="scenario">
                    When Jay found FreightEasy, he found a system that could stand up next to all his
                    other modern software and not look or feel out of place. Jay now completes shipments
                    easier than ever, trains new employees faster than ever, and rests assured that
                    he has the newest software on the market.
                </p>

                            </div>
@section righttop{


}