@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<p>
                                            <span class="headline">Export</span></p>
                                        <p>
                                            FreightEasy is a powerful system that can help perform virtually any task a Freight
                                            Forwarder could want. Many different documents can be created, and there are many
                                            data entry forms. But, this does not mean that working within the system is complicated.
                                            Navigation between different parts of the system is done quickly and easily. The
                                            work flow has been designed by Freight Forwarders to be as efficient and intuitive
                                            as possible. Our Recent Work and Favorites features will allow you to perform the
                                            tasks you do most often quickly. As a general rule, once you enter data for the
                                            first time, you don’t have to ever again. We have worked to reduce re-keying of
                                            information, and increase your productivity.
                                        </p>
                                        <p class="headline">
                                            Import</p>
                                        <p>
                                            Using FreightEasy AES, you can submit SED information through a web link to the
                                            CBP AES database. This direct link provides quick and easy access to SED over the
                                            Internet and eliminates re-entering the shipment data making export operations a
                                            little simpler.</p>
                                        <p>
                                            The people who created FreightEasy are the same individuals who will help you troubleshoot
                                            any problems that may arise. They also have years of experience in the shipping
                                            industry. You can be sure that the people at ELT will give you the best support
                                            and the help that you need.</p>
                                        <p>
                                            <br />
                                            <span class="headline">Accounting/Reports</span></p>
                                        <p>
                                            FreightEasy has been designed by Freight Forwarders for Freight Forwarders. The
                                            data entry screens are designed to make users feel comfortable, not confused. The
                                            work flow of the system is easy to learn, and efficient.</p>
                                        <p class="headline">
                                            Client/Partner Database
                                        </p>
                                        <p>
                                            FreightEasy requires no software installations. Software installations are costly,
                                            time consuming may require skillful I.T. professionals. Traditional software solutions
                                            also require on-going maintenance and upgrades. Sometimes installed software can
                                            cause conflicts and create problems, hurting your bottom line. FreightEasy eliminates
                                            these potential issues.
                                        </p>

</div>
@section righttop{


}