@{
    ViewBag.Title = "Getting Started Tips";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style type="text/css">
<!--
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style6 {font-size: 70%}
-->
</style>
<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<p>
                                When you use correct user name and password and still can't login to the system,
                                follow the steps described below for downloading ActiveX.</p>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="15" align="left" valign="top">
                                        1.</td>
                                    <td width="7">
                                        &nbsp;</td>
                                    <td width="567" align="left" valign="top">
                                        Select [ Internet Options...] from the Internet Explore's [Tools] menu.<br />
                                        <br />
                                        <img src="../../Images/FreightEasy/images/login_help_window1.gif" width="305" height="173" /></td>
                                </tr>
                                <tr>
                                    <td height="25" align="left" valign="top">
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        2.</td>
                                    <td>
                                        &nbsp;</td>
                                    <td align="left" valign="top">
                                        Select the [Security] tab from the [Internet Options] screen.
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
                                            <tr>
                                                <td width="20" align="left" valign="top">
                                                    (1)</td>
                                                <td>
                                                    Select [Trusted sites] for the Web content zone.</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (2)</td>
                                                <td>
                                                    Click [Sites]. The [Trusted sites] screen is displayed.<br />
                                                    <br />
                                                </td>
                                            </tr>
                                        </table>
                                        <img src="../../Images/FreightEasy/images/login_help_window2.gif" width="284" height="253" /></td>
                                </tr>
                                <tr>
                                    <td height="25" align="left" valign="top">
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" class="subhead">
                                        3.</td>
                                    <td>
                                        &nbsp;</td>
                                    <td align="left" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
                                            <tr>
                                                <td width="20" align="left" valign="top">
                                                    (1)</td>
                                                <td>
                                                    Uncheck the check box.</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (2)</td>
                                                <td>
                                                    Type http://www.e-logitech.net</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (3)
                                                </td>
                                                <td>
                                                    Click [Add].</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (4)</td>
                                                <td>
                                                    http://www.e-logitech.net is listed in the [Web sites]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    &nbsp;</td>
                                                <td>
                                                    Repeat the steps (2) to (3) for
                                                    <br />
                                                    http://www.elogisticstechnology.com<br />
                                                    http://www.e-logitech.net<br />
                                                    http://www.e-logisticstechnology.com<br />
                                                    All four web sites are listed in the [Web sites]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (5)</td>
                                                <td>
                                                    Click [OK]. The [Internet Options] screen is displayed
                                                    <br />
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    &nbsp;</td>
                                                <td>
                                                    <img src="../../Images/FreightEasy/images/login_help_window3.gif" width="284" height="206" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="25" align="left" valign="top">
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top">
                                        4.</td>
                                    <td>
                                        &nbsp;</td>
                                    <td align="left" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
                                            <tr>
                                                <td width="20" align="left" valign="top">
                                                    (1)</td>
                                                <td>
                                                    Click [Custom Level...]. The [Security Settings] screen is displayed.</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (2)</td>
                                                <td>
                                                    Check [Disable]
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (3)
                                                </td>
                                                <td>
                                                    Select [Medium-Low].</td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">
                                                    (4)</td>
                                                <td>
                                                    Click [OK]. Click [OK] to close [Internet Options] screen.
                                                    <br />
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;</td>
                                                <td>
                                                    <img src="../../Images/FreightEasy/images/login_help_window4.gif" width="348" height="305" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="25" align="left" valign="top">
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="25" align="left" valign="top">
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        Now, you are ready to login. Please go back to the <a href="/Home/Index">login
                                            page</a> and try again. If the problem persists,
                                        <br />
                                        please contact 1.877.680.EASY(3279) or e-mail to <a href="mailto:support@elogitec.com">support@e-logitech.net</a>.<br />
                                        <br />
                                    </td>
                                </tr>
                            </table>

</div>
@section righttop{


}