@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div  style="background: url('../../images/freighteasy/images/intro_image.jpg') no-repeat scroll right top transparent; padding: 150px 20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<p>
                                FreightEasy™ is a complete, all-in-one solution for the NVOCC. It has every feature
                                a Freight Forwarder needs, plus Accounting features, Report generation, and Customs
                                Connectivity. Freight Easy was designed by people who have spent years in the Freight
                                Forwarding industry, so you can be assured that the system works with you, not against
                                you. Our system will get the most efficiency out of your employees while helping
                                you to continue to give the best service to your customers.</p>
                            <p>
                                FreightEasy offers all of these features but without all the hassles, time and expenses
                                of other complete systems. Installation could not be easier. There are no special
                                hardware or server requirements. There are no delays while you wait for the system
                                to be installed. You don't need to hire and maintain employees that specialize in
                                I.T. All that is needed is at least one computer with an internet connection. -
                                Not only is our system easy to implement and operate, but our startup fee is very
                                competitive.</p>
                            <p>
                                So what makes FreightEasy different? The answer is in the technology that the system
                                is built on. It is not a traditional <a href="/Home/WebBased">client/server system</a>.
                                It is a <a href="/Home/WebBased">web-based</a> system built on Microsoft's ASP.NET
                                platform. <a href="/Home/WebBased">ASP.NET</a> allows us to make a system that is
                                web-based, yet still fast, secure, and up to the highest standards in functionality.
                                Some side benefits are: having your corporate data maintained by a professional
                                data center, as well as being able to work from anywhere with an internet connection,
                                including home. A reasonable monthly fee covers all upgrades and maintenance as
                                well as customer support. We do not charge per user fees.</p>
                            <p>
                                FreightEasy delivers all the benefits of an expensive traditional Freight Forwarding
                                system, without the traditional drawbacks. This makes it perfect for those that
                                are in the market for a new system and would like to adopt one in the least expensive
                                and easiest way. It also is perfect for those that have been unhappy with their
                                current system, but have been hesitant to change due to new startup fees and new
                                equipment requirements.</p>
                            <p>
                                Please <a href="/Home/Contact">contact us</a> today so we can show you that FreightEasy
                                is your best option for a complete Freight Forwarding solution.</p>

</div>
@section righttop{


}