@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<p><strong>We strive to provide excellent  Customer Service.</span></strong><br />
                        Any questions you may have about  our product will be answered in a prompt and friendly manner. Technical questions will be answered by  people with an understanding of the design of our system. Questions about the use of our system will be  answered by people with knowledge of the Freight Forwarding industry.</p>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="25" align="left" valign="top">For Technical Support</td>
                        </tr>
                        <tr>
                            <td height="36" align="left" valign="top"><br />

<a href="mailto:support@e-logitech.net">support@e-logitech.net<br />
                            </a></td>
                        </tr>
                        <tr>
                            <td height="24" align="left" valign="top"><br />
                                <br />
                                For General Questions</td>
                        </tr>
                        <tr>
                            <td height="36" align="left" valign="top"><br />
                                <a href="mailto:info@e-logitech.net">info@e-logitech.net<br />
                            </a></td>
                        </tr>
                        <tr>
                            <td height="20" align="left" valign="top">Or call us at 1-877-680-3279 and we will direct your  call to the person who can best help you. </td>
                        </tr>
                    </table>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

</div>
@section righttop{


}