@{
    ViewBag.Title = "Web-Based vs. Traditional Client/Server ";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div  style="padding:20px;">
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
 <p>
                                Most Freight Forwarding systems are built on a client/server architecture. The system
                                data is held on one local computer (server). This allows multiple users on different
                                PC’s (clients) on a LAN to access the same data at the same time. While it has worked
                                fine for many in the past, this method has many drawbacks. One problem is the cost
                                of the server itself. Sometimes they can run over $5,000, depending on what the
                                software vendor requires. There are also extra start-up fees, and wasted time associated
                                with getting the system installed. In addition, local servers are a relatively risky
                                way to store data. Fires, natural disasters, robberies, and intentional or unintentional
                                mishandling of the server can result in lost data. Most companies must backup their
                                data regularly to try to avoid a catastrophic loss. In the end, traditional Client/Server
                                solutions result in too much expense, time, and headache to get started and keep
                                running. Web-based systems take advantage of the ubiquity of the web browser and
                                internet connections to offer many of the benefits of traditional systems without
                                many of the drawbacks. In these systems, most of the data is still held on a server,
                                but it is a remote server, and connectivity is achieved through the World Wide Web.
                                Applications like this are very common. Examples include PayPal, Yahoo calendar,
                                Webmail systems like Gmail, and most internet Credit Card authentication applications
                                on retail sites. Our system is built on the latest in web-based technology, Microsoft’s
                                ASP.NET. The ASP.NET set of technologies has helped developers speed up web applications,
                                and has allowed for features that look and feel just like Windows itself. One benefit
                                of this method is that any computer with an internet connection and a web browser
                                can run the application - from anywhere, not just the office. Working from home,
                                as well as cafés and airports with wireless hotspots is easily done. Also, there
                                are no expensive server requirements. In fact, installation is virtually instant.
                                Any updates to the application happen automatically when you log in without any
                                downtime. The data is stored at a professional data center with multiple redundancies
                                of servers and high-speed data connections. There is no need to back up any data
                                locally. Also, there is a much lower chance of any hardware/software incompatibilities.
                                I.T. expenses are reduced to one monthly service fee, without other hidden costs</p>
</div>
@section righttop{


}