
@model ELT.WEB.Models.RateTable 
 @using (Ajax.BeginForm("RateTable", "MasterData", new AjaxOptions() { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "mGridDiv" }, new { @id = "formTable" }))
 {
      @Html.HiddenFor(m => m.RateType, new { id = "h_rate_type" })
    @Html.HiddenFor(m => m.ShouldAdd)
<div class="masterGrid">
    <table>
        <thead><tr><td colspan="20"> <div class="actionHeader"><ul><li><a href="javascript:void(0)" onclick="AddRoute()"><span> Add Route</span></a></li></ul></div> </tr></thead>
        <tbody>
            @Html.EditorFor(m=>m.RateRoutes)
        </tbody>

    </table>

  
</div>
    @Html.Hidden("ActionParam", "", new { id = "ActionParam" })
    <input type="submit" value="submit" id="btnSubmit" />
 }