body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 84%;
}
#rightblock {
	float: right;
	width: 48%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
#smallbox {
	padding-top: 0.4em;
	padding-right: 0.4em;
	padding-left: 0.4em;
}

#rb_bottomline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding: 0.4em;
}

hr {
	height: 1px;
}
#block {
	padding: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}


h1 {
	font-size: 0.9em;
	font-weight: bold;
	padding: 0px;
	margin-top: 0.3em;
	margin-right: 0px;
	margin-bottom: 0.3em;
	margin-left: 0px;
}
.prints {
	font-size: 0.7em;
	font-weight: normal;
}

h3 {
	font-size: 0.6em;
	font-weight: normal;
}
h2 {
	font-size: 1em;
	font-weight: bold;
	padding-top: -2em;
}



#leftbolock {
	width: 50%;
	float: left;
}
#container {
	width: 94%;
	margin-right: 3%;
	margin-left: 3%;
}
#container {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-left-color: #000000;
	width: 94%;
	margin-right: 4%;
	margin-left: 4%;
}
p {
	font-size: 0.67em;
	margin: 0px;
	padding: 0px;
}
label {
	font-size: 0.65em;
	font-weight: bold;
}
#hr {
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	line-height: 0px;
	font-size: 0px;
	margin-top: 0.3em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
