#LayoutSplitter .HeadPane,
#PrintLayoutSplitter .HeadPane
{
	background: #a9acb4;
}
#LayoutSplitter .RightPane.HeadPane
{
    border-left-color: White;
}

.DateNavigatorContainer
{
	background: #f6f7f9;
}

.HeadPane .ActionToolbar .Spacer b
{
    background: White;
}

#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu
{
    color: White;
}
#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item .dxm-content,
#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item.dxm-hovered .dxm-content
{
    color: White;
}

.HeadPane .ActionToolbar .SearchBox
{
    margin-top: 1px;
}
