vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2006 17:00:24 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|23 May 2006 17:00:24 -0000
vti_filesize:IR|4934
vti_cachedlinkinfo:VX|S|../../../asp/include/mask_js.htc
vti_cachedsvcrellinks:VX|NSUS|asp/include/mask_js.htc
vti_lineageid:SR|{3ED96E41-D987-450C-93B3-D3E4D5B226A2}
vti_backlinkinfo:VX|IFF_MAIN/ASPX/OnLines/Rate/Ratemanagement.aspx
