@model ELT.CDT.ArrivalNoticeItem
<tr><td style="border: 1px solid">@Html.DisplayTextFor(m=>m.HouseBillNo)</td><td style="border: 1px solid">@Html.DisplayTextFor(m => m.invoice_no)</td><td style="border: 1px solid">@Html.DisplayTextFor(m => m.invoice_no)</td></tr>

