#LayoutSplitter .HeadPane,
#PrintLayoutSplitter .HeadPane
{
	background: #bcd4f6;
}

.CalendarNavArea
{
	background: #ddecfe;
}

.HeadPane .ActionToolbar .Spacer b
{
    background: #002d96;
}

#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item .dxm-content,
#LayoutSplitter .HeadPane .NavigationToolbar .NavigationMenu .dxm-item.dxm-hovered .dxm-content
{
    color: #515c76;
}

.HeadPane .ActionToolbar .SearchBox
{
    margin-top: 1px;
}

.ContactCard 
{
    border: 1px solid #4f93e3;
}
.contacts .dxdvContent_Office2003Blue
{
    padding: 5px;
}
