@{
    ViewBag.Title = "HAWB";
    Layout = "~/Views/Shared/_LayoutOperation.cshtml";
}
<iframe id ="ContentFrame" scrolling="no"   frameborder="0" width="100%" onload="autoResize('ContentFrame');" src="@Url.Content("~/ASP/air_export/new_edit_hawb.asp" + ViewBag.Params)"></iframe>
<script type="text/javascript" language="javascript">


    var iframe = document.getElementById('ContentFrame');
    var contentDocument = iframe.contentDocument || iframe.contentWindow.document;
    var BillNumbr;

    $('#ContentFrame').load(function () {

        contentDocument = this.contentDocument || this.contentWindow.document;
        var billNo = contentDocument.getElementById("txtHAWB").value;

        $(contentDocument.getElementById("NewPrintVeiw1")).click(function () { PrepPDFPrintOptions(billNo); });
        $(contentDocument.getElementById("NewPrintVeiw2")).click(function () { PrepPDFPrintOptions(billNo); });

    });

    function PrepPDFPrintOptions(BillNumbr) {

        var url = "/AspPrintPDF/HAWBPrintPDF?HAWB=" + BillNumbr;
        //alert(url);
        ShowInModalBox(url);

    }

    function ShowInModalBox(url) {

        $("#ModalPlaceHolder").remove();
        var content = "<div id='ModalPlaceHolder'></div>";
        $('body').append(content);
        $("#ModalPlaceHolder").append($("<iframe frameborder='0' id='modalframe' onload='autoResize(''modalframe'');'  scrolling='no' style='width:100%' />").attr("src", url)).dialog(

        {
            autoOpen: true,
            modal: true,
            resizable: "auto",
            width: "auto",
            height: "auto",
            minHeight: "auto"
        }
        );
    }
    </script>
