<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
-->
</style>
<link href="../CSS/elt_css.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	margin: 0;
	padding: 0;
}
-->
</style></head>

<body>
	<table width="95%" border="0" align="center" cellpadding="2" cellspacing="0">
		<tr>
			<td width="30%" height="32" align="left" valign="middle" class="pageheader">booking</td>
			<td width="70%" align="right" valign="baseline"><span class="labelSearch">FILE NO.</span>
			<!-- Search -->
			<input name="txtJobNum" type="text" class="lookup" size="22"  style="height:16px" value="Search Here" 
					onkeydown="javascript: if(event.keyCode == 13) { lookupFile(); }" 
					onfocus="javascript: this.value = ''; this.style.color='#000000'; " />
			<img src="../../images/icon_search.gif" name="" align="absmiddle" id=""  
					style="cursor:pointer" onclick="" /></td>
		</tr>
	</table>
	<div class="selectarea" style=" width: 100%; margin-left: auto; margin-right:auto;">
		<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td>
				<!-- use this when applicable-->
					<span class="select"><!--Select Booking No.--></span></td>
				<td width="55%" rowspan="2" align="right" valign="bottom">
					<div id="print">
						<img src="/ASP/Images/icon_printer.gif" align="absbottom">
						<a href="javascript:;" onClick="" style="cursor: pointer">Title Here</a>
					</div>
				</td>
			</tr>
			<tr>
				<!-- combo box here -->
				<td width="45%" valign="bottom"></td>
			</tr>
		</table>
	</div>
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#909EB0" class="border1px">
        <tr>
            <td height="24" align="center" valign="middle" bgcolor="#cfd6df" style="border-bottom: 1px solid #909EB0">
                <img src="../../Images/button_save_medium.gif" /></td>
        </tr>
        <tr>
            <td align="center" bgcolor="#f3f3f3" style="border-bottom: 2px solid #909EB0; padding:24px 0 24px 0">
				<table width="92%" border="0" cellpadding="0" cellspacing="0" bordercolor="#909EB0" bgcolor="#FFFFFF" 
					class="border1px" style="padding-left: 10px">
					<tr bgcolor="#dfe1e6">
						<td height="18" bgcolor="#dfe1e6">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr bgcolor="#f3f3f3">
						<td height="18">&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
					<tr bgcolor="#f3f3f3">
						<td height="18">&nbsp;</td>
						<td height="18">&nbsp;</td>
						<td height="18">&nbsp;</td>
						<td height="18">&nbsp;</td>
						<td height="18">&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
            	</table>			</td>
        </tr>
        <tr>
            <td height="18" bgcolor="#dfe1e6">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td height="18" bgcolor="#f3f3f3">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr bgcolor="3f3f3f3">
            <td height="18" bgcolor="#f3f3f3"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        
        <tr>
            <td height="24" align="center" valign="middle" bgcolor="#cfd6df" style="border-top: 1px solid #89a979">
                <img src="../../Images/button_save_medium.gif" /></td>
        </tr>
</table>
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="55%" align="right" valign="bottom"><div id="print"> 
			<img src="/ASP/Images/icon_printer.gif" align="absbottom" /> 
				<a href="javascript:;" onclick="" style="cursor: pointer">Title Here</a></div></td>
        </tr>
    </table>
    <br />
</body>
</html>
