vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2006 02:58:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|19 Mar 2006 02:58:00 -0000
vti_filesize:IR|1339
vti_lineageid:SR|{7D15349A-1BD9-475D-B031-8EB96C644473}
vti_backlinkinfo:VX|IFF_MAIN/ASP/temp/test.asp IFF_MAIN/ASP/temp/test2.asp IFF_MAIN/ASP/temp/numInput.asp
